.center {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.statistics-group-container {
    display: grid;
    /* grid-template-columns: 1; */
    grid-template-rows: 5;
    border: solid 4px black;
    border-radius: 10px;
    padding: 20px;
    height: 200px;
    width: 250px;
    background: #f0e7e6;
    margin: 10px;
}

.statistics-group-name {
    grid-row: 1/ span 1;
}