.Signup {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 740px;
  width: 550px;
  border: solid 2px black;
  border-radius: 10px;
  background: #f0e7e6;
}