.admin-card-container {
  display: grid;
  grid-template-columns: 10% 60%  30%;
  height: 75px;
  border: solid 3px black;
  border-radius: 10px;
  margin: 15px;
}

.admin-card-SNo {
  grid-column: 1/ span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}

.admin-card-name {
  grid-column: 2/ span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}


.admin-card-demoteAdmin {
  grid-column: 3/ span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
